body{
    background-image: linear-gradient(135deg,#00B7D4, #505488, #2F3F80, #161569, #5A4894, #A950A1, #FF7CAE);
    background-size: 500%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation: fanimado 10s infinite;
    margin-top: 18px;
    
}
header{
    display: flex;
    flex-direction: row;
    gap: 55px;
}
.title{
    margin-top: 20px;
    font-size: 55px;
}
#img1{
    max-width: 80px;
    height: 100px;
}
.all_content{
    align-items: center;
    line-height: 1.5;
    text-align: center;
    font-size: 25px;
    font-family: kanit;
    color: white;
}
button{
    font-family: kanit;
    font-size: 30px;
    border: solid purple;
    background-image: linear-gradient(90deg, purple, #B20256);
    color: white;
    width: 350px;
    height: 65px;
    border-radius: 15px;
    cursor: pointer;
}
.boton_info{
    display: inline-block;
    margin: 35px 0;
}
.informacion_contacto{
    margin-top: 35px;
}
.info_text{
    font-size: 32px;
}
.made_by{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.michigun{
    height: 75px;
}
.made_by>h1{
    font-size: 20px;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    font-family: kanit;
    color: white;
    height: 100px;
}
@keyframes fanimado{
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
/* Visualizacion en Tablets*/
@media (max-width: 1024px){
    .botones_redes_sociales{
        min-height: 1033px;
    }
}
/* Visualizacion celulares*/
@media (max-width: 480px){
    .title{
        font-size: 30px;
        margin: 0;
    }
    header{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        gap: 0px;
        width: max-content;
        align-items: center;
        justify-content: center;
    }
    .info_text{
        font-size: 25px;
    }
    .informacion_contacto{
        margin-top: 55px;
    }
}
